version: '3.8'

services:
  app:
    build: .
    container_name: exbuilderapp
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - TZ=America/Sao_Paulo
